In [7]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 48.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=214abe6a9fc7d689e8ad5485773345b8cd78eb5199fed9ce22e25a26c5641c98
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [8]:
import pandas as pd
import pyspark

In [4]:
data = [['Tom', 54, 120000],['Harry',23, 40000],['Charles',45,90000],['Wanda',32,50000]]

In [5]:
df = pd.DataFrame(data=data, columns=['Name','Age','Salary'])

In [6]:
df.head()

      Name  Age  Salary
0      Tom   54  120000
1    Harry   23   40000
2  Charles   45   90000
3    Wanda   32   50000

In [19]:
df.to_csv('file1.csv')

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [18]:
spark

In [20]:
df_pyspark = spark.read.csv('file1.csv')

In [21]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [22]:
df_pyspark.show()

+----+-------+---+------+
| _c0|    _c1|_c2|   _c3|
+----+-------+---+------+
|null|   Name|Age|Salary|
|   0|    Tom| 54|120000|
|   1|  Harry| 23| 40000|
|   2|Charles| 45| 90000|
|   3|  Wanda| 32| 50000|
+----+-------+---+------+

In [24]:
spark.read.option('header','true').csv('file1.csv')

DataFrame[_c0: string, Name: string, Age: string, Salary: string]

In [25]:
spark.read.option('header','true').csv('file1.csv').show()

+---+-------+---+------+
|_c0|   Name|Age|Salary|
+---+-------+---+------+
|  0|    Tom| 54|120000|
|  1|  Harry| 23| 40000|
|  2|Charles| 45| 90000|
|  3|  Wanda| 32| 50000|
+---+-------+---+------+

In [26]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)